<footer>
    <p class="montagu-slab-details">
        Copyright <%= new Date().getFullYear() %> MCD'Angelo.
        <br>
        Built using the <a href="https://metmuseum.github.io/">Metropolitan Museum public API</a>
    </p>

</footer>
</body>
</html>