<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=SUSE:wght@100..800&display=swap');
    </style>
    <link rel="stylesheet" href="css/styles.css">
    <title>Quilt-spiration</title>
</head>
<body>

<header>
    <div class="container">
        <a href="/" class="no-underline suse-headers"><h1>QUILT-SPIRATION</h1></a>
        <form id="menu-bar">
            <button class="nav-button suse-headers" id="random-inspo" formaction="/random">RANDOM</button>
            <button class="nav-button suse-headers" id="search-inspo" formaction="/search">SEARCH</button>
        </form>
    </div>
</header>