<%- include("partials/header.ejs") %>

<div class="container index-intro">
    <h2 class="suse-headers">Art Begets Art</h2>
    <p class="montagu-slab-details" id="homepage-intro">
        Trouble deciding on colors or a style for your next quilt? 
        <br>
        Draw inspiration from the fabulous collection at the Metropolitan Museum of Art.
        <ul class="montagu-slab-details">
        <li>
            Click on the <span class="button-emph">RANDOM</span> button to see a randomly selected item from the MET collection of quilts.
        </li>
        <li>
            Click on the <span class="button-emph">SEARCH</span> button to find other sources of inspiration using keywords and department filters.
        </li>
        </ul>
    </p> 
</div>


<%- include("partials/footer.ejs") %>
